<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.maptest.mycartest">

    <supports-screens android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:resizeable="true"
        android:anyDensity="true"/>


    <application
        android:networkSecurityConfig="@xml/xg_network_security_config"
        android:name=".SwipRecycleView.App"
        android:allowBackup="true"
        android:icon="${app_icon}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data android:name="com.tencent.rdm.uuid" android:value="a4fd346d-35ec-4a3f-9acf-0fb292002708" />
        <!-- 设置主界面的启动模式为singleTop，当应用在前他的时候不重新开启应用-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <provider

            android:name="android.support.v4.content.FileProvider"

            android:authorities="${FILE_PROVIDER}"

            android:grantUriPermissions="true"

            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${BAIDUKEY}" />
       <!--58fad51a-->
        <meta-data android:name="IFLYTEK_APPKEY" android:value="${IFLYTEK_APPKEY}"></meta-data>
        <meta-data android:name="IFLYTEK_CHANNEL" android:value=""></meta-data>

        <activity android:name=".UI.SplashActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.SetUi.ShowCrawlActivity"
            android:launchMode="singleTask"
            ></activity>
        <activity android:name=".UI.GuideActivitys"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".UI.MainActivity"
            android:launchMode="singleTask"
            ></activity>
        <activity
            android:name=".UI.PlayTeaceActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.InformationActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.EquipUi.EditMessageActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.EquipUi.ServiceActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.EquipUi.PasswordActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.EquipUi.MyMessageActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.EquipUi.AboutActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".Utils.PayDatePickActivity"
            android:theme="@style/MyDialogStyleBottom"></activity>
        <activity android:name=".wxapi.TestPayWxActivity"></activity>
        <activity android:name=".UI.CarPayAcitivity"></activity>
        <activity android:name=".UI.warn.WarnMationActivity"
            android:launchMode="singleTop"
            >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="xgscheme"
                    android:host="com.xg.push"
                    android:path="/notify_details" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.EquipUi.UploadImgActivity"></activity>
        <activity
            android:name=".UI.EquipUi.SetWarnActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.EquipUi.ShowWarnActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.EquipUi.BkRulerActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.CarContralActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".zxing.activity.ResultActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.TyreUi.TyreActivity"
            android:launchMode="singleTop">


        </activity>
        <activity
            android:name=".UI.SearchActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.TyreUi.TyreOrderActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.TyreUi.TempsActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.TyreUi.LearnActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.TyreUi.ChangeTireActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.TyreUi.QuerryActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.TyreUi.TyreValueActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".Utils.DatePickActivity"
            android:theme="@style/MyDialogStyleBottom"></activity>
        <activity
            android:name=".Utils.TimePickActivity"
            android:theme="@style/MyDialogStyleBottom"></activity>
        <activity
            android:name=".UI.SetUi.EditCrawlActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.CrawlActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.MoreSpeedActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.LowPowerActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.NoPowerActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.CenterNubActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.MoveActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.ShkActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.SosActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.OilContralActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".UI.SetUi.SetCrawlActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.EquipUi.EditAccountActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.PayAcitivity"></activity>
        <activity android:name=".UI.SetUi.RooaOilContralActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.RooaLixianActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.QuerryOrderActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.WorkmodeActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.SensorActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.RemoveOrderActivtiy"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.SetandCanActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.EquipUi.UseGuideActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.EquipUi.MatchActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.EquipUi.CapacityEquipActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.EquipUi.BlueOrderActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.EquipUi.BindSuccessActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.GWOrderActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.SgexOrderActivtiy"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.warn.WarnListIemiActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.EightMoreSpeedActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.SetUi.AudioOrderActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".UI.EquipUi.YulanImgActivity"></activity>
        <activity android:name=".UI.SetUi.EightOrderActivity"></activity>
        <activity android:name=".UI.SetUi.EightSpeedActivity"></activity>
        <activity android:name=".UI.SetUi.EightCenterActivity"></activity>
        <!--讯飞更新-->
        <activity android:name="com.iflytek.autoupdate.IFlytekUpdateDialog"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            ></activity>
        <!-- 下载基础服务 -->
        <service
            android:name="com.iflytek.autoupdate.IFlytekDownloadService"
            android:enabled="true"
            android:process=":IFlytekDownloadService" />
        <!--讯飞更新-->
        <service android:name=".Utils.DownloadService"
            android:enabled="true"
       ></service>
        <service android:name=".SwipRecycleView.SocketService"
            android:enabled="true"
        ></service>
<!--
        <provider

            android:name="android.support.v4.content.FileProvider"

            android:authorities="${FILE_PROVIDER}"

            android:grantUriPermissions="true"

            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>
-->


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

        <!--集成信鸽-->
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity
        android:name="com.tencent.android.tpush.XGPushActivity"
        -->
        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushServiceV3"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v3" />


        <!-- 【必须】 提高service的存活率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <!-- 【必须】 请修改为当前APP包名 .PUSH_ACTION, 如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.example.maptest.mycartest.PUSH_ACTION" />
            </intent-filter>
        </service>


        <!-- 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.qq.xgdemo-->
        <provider
            tools:replace="android:authorities"
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="${AUTH_XGPUSH}"
            android:exported="true"/>

        <!-- 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.qq.xgdemo-->
        <provider
            tools:replace="android:authorities"
            android:name="com.tencent.android.tpush.SettingsContentProvider"
            android:authorities="${TPUSH_PROVIDER}"
            android:exported="false" />

        <!-- 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.qq.xgdemo-->
        <provider
            tools:replace="android:authorities"
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="${TENCENT}"
            android:exported="true" >
        </provider>

        <!--华为-begin-->
        <!--华为通道开始begin======-->
       <!-- <meta-data
        android:name="com.huawei.hms.client.appid"
        android:value="100519671">
        </meta-data>

        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="fox.app.ndemo.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
        </provider>

        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver" >
            <intent-filter>

                &lt;!&ndash; 接收通道发来的通知栏消息，兼容老版本PUSH &ndash;&gt;
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>-->

        <!--华为-end-->
        <receiver android:name=".receiver.MessageReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.HuaWeiPushReceiver">
            <intent-filter>

                <!-- 必须,用于接收TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.tencent.android.hwpush.HWPushMessageReceiver" >
            <intent-filter>

                <!-- 必须,用于接收TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Utils.IntentBoradcast"
            android:enabled="true"
            android:exported="true">
            <!-- 静态注册广播 -->
            <!-- intent过滤器,指定可以匹配哪些intent, 一般需要定义action 可以是自定义的也可是系统的 -->
            <intent-filter>
                <!--action-->
                <action android:name="com.broadcast.inten" />
            </intent-filter>
        </receiver>


        <!--全景地图-->
        <activity android:name=".UI.PanoramaDemoActivityMain"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

        </activity>
        <activity android:name=".UI.SetUi.TimeOilActivity" />
        <activity android:name=".aipay.PayAliActivity"></activity>
        <activity android:name=".aipay.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" ></activity>

        <activity android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx69735e61217fc6ce"/>
            </intent-filter></activity>
    </application>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 【必须】 信鸽SDK所需权限   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【可选】 信鸽SDK所需权限 -->

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!--讯飞权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="andorid.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"></uses-permission>
    <!--附加权限-->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"></uses-permission>
    <!--蓝牙-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

</manifest>